:root{
    --secondary-color: #2F303A;
    --button-color: #2196F3;
    --secondary-title-color: #FFFFFF;
    --title-color: #212121;
    --text-color: #757575;
    --third-color: #F5F4FA;
}


body {
     font-family: "Roboto", sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    outline: 3px solid red;
    padding-left: 15px;
    padding-right: 15px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-box-one {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo-web {
    color: var(--button-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.78px;
}


.header-logo-studio {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.78px;
}

.header {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.header-navigation {
    display: flex;
    flex-direction: row;
    row-gap: 93px, 344px;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    column-gap: 25px;
    
}

.header-nav-link {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
}


.header-nav-item {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.header-info-list {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    column-gap: 25px;
} 


.header-info-item {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.header-info-link {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
    display: flex;
    justify-content: end;
} 

       
.hero {
    background-color: var(--secondary-color);
    height: 600px;
}

.hero .container {
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    width: 696.0px;
    height: 120.0;
    flex-shrink: 0;
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.hero-button {
    width: 216.0px;
    height: 50.0px;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: var(--secondary-title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}

.advaneges .container {
    margin: 0 auto;
}

.advanteges-content {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
}

.advanteges-item {
    width: 270px;
}

.advanteges-text {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    padding-top: 10px;
}

.advanteges-secondary-title {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.work .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.work-title {
    color:var(--title-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    padding-bottom: 50px;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-item {
    width: 370px;
    height: 294px;
}

.team .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 124px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.team-item {
    width: 270px;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
}

.team-item-text {
    display: flex;
    flex-direction: column;
}

.team-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    padding-top: 188px;
    padding-bottom: 50px;
}

.team-caption {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-info {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.footer {
    background-color: var(--secondary-color);
    padding: 60px 0;
}

.footer .container {
    margin: 0 auto;
}

.footer .container .header-logo {
    padding-bottom: 20px;
}

.footer-logo-web {
    color: var(--button-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.78px;
}

.footer-logo-studio {
    color: var(--secondary-title-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.78px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-link-1 {
    color: var(--third-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.footer-link-2 {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.footer-link-3 {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.catalog-button {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
}

.products-title {
    color: var(--title-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.products-text {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}